* {
  box-sizing: border-box;
}

.form-inline {
  justify-content: center;
}
.maintag {
  text-align: center;
}
.card {
  width: 18rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
.card img {
  height: 280px;
  width: 286px;
}

.dropbtn {
  background-color: #fafafa;
  color: #558000;
  font-size: large;
  box-sizing: border-box;
  border: 2px solid #558000;
  border-radius: 5em;
  padding: 8px;
  margin: 15px;  
  text-align: center; 
}

.dropbtn:hover {
  color: #fafafa;
  background-color: #6ca000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41; color: #fafafa}

.open-button {
  color: #0076cb;
  font-size: large;
  background-color: white;
  border: 2px solid #0076cb;
  border-radius: 5em;
  text-align: center;
  padding: 16px 20px;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 250px;
}

.open-button:hover {
  color: white;
  background-color: #0076cb;
}

.form-popup {
  background-color: white;
  width: 300px;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  text-align: center;
  height: 100%;
  padding: 10px;
  margin: auto;
}

input[type="text"] {
  display: block;
}

input[type="password"] {
  display: block;
}

.inputFields{
  display: block;
  text-align: center;
  text-align-last: center;
  margin: auto;
  margin-bottom: 15px;
  width: 75%;
  color: #001514;
  font-weight: bold;
  font-size: medium;
  letter-spacing: 1px;
  background-color: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
}