<div class="container">
  <form
    method="POST"
    id="createParkingForm"
    action="/parkings/post"
    enctype="multipart/form-data"
  >
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="listerId">Lister Id</label>
        <input
          type="text"
          class="form-control"
          id="listerId"
          name="listerId"
          placeholder="Lister"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="parkingImg">Upload Image</label>
        <input
          type="file"
          class="form-control"
          id="parkingImg"
          name="parkingImg"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="longitude">Longitude</label>
        <input
          type="text"
          class="form-control"
          id="longitude"
          name="longitude"
          placeholder="longitude"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="latitude">Latitude</label>
        <input
          type="text"
          class="form-control"
          id="latitude"
          name="latitude"
          placeholder="Latitude"
        />
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          name="address"
          placeholder="1234 Main St"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="category">Vehicle Category</label>
        <input
          type="text"
          class="form-control"
          id="category"
          name="category"
          placeholder="Sedan, SUV, Coupe..."
        />
      </div>
      <div class="form-group col-md-2">
        <label for="parkingType">Parking Type</label>
        <select id="parkingType" name="parkingType" class="form-control">
          <option selected>Select type...</option>
          <option>Open</option>
          <option>Closed</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" />
      </div>
      <div class="form-group col-md-4">
        <label for="state">State</label>
        <select id="state" name="state" class="form-control">
          <option selected>Select State...</option>

          {{#each states}}
            <option>{{this}}</option>
          {{/each}}

        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" name="zip" />
      </div>
    </div>
    <button
      type="submit"
      id="btnCreateParking"
      class="btn btn-primary"
    >Create</button>
  </form>

</div>